{% load webpack_static from webpack_loader %}

<nav class="navbar is-info" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a href="/" class="navbar-item">
                <img src="{% webpack_static "img/brand/logo-round-inverted.svg" %}" alt="KSICHT" height="50" />
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbar" class="navbar-menu">
            <div class="navbar-start">
                {% if user.is_authenticated %}
                <a class="navbar-item" href="{% url "core:home" %}">
                    Nástěnka
                </a>
                {% endif %}
                <a class="navbar-item" href="{% url "core:current_grade" %}">
                    Aktuální ročník
                </a>
                {% comment %} <a class="navbar-item">
                    Minulé ročníky
                </a>
                <a class="navbar-item">
                    Akce
                </a>
                <a class="navbar-item">
                    Kontakt
                </a> {% endcomment %}
            </div>

            <div class="navbar-end">
                {% if user.is_authenticated %}
                <div class="navbar-item">
                    <span class="icon"><i class="fas fa-user"></i></span>
                    <span class="is-size-6 has-padding-l-3 has-text-weight-bold">{{ user }}</span>
                </div>
                {% endif %}
                <div class="navbar-item">
                    <div class="buttons">
                        {% if user.is_authenticated %}
                        <a class="button is-danger" href="{% url "logout" %}">
                            <strong>Odhlásit se</strong>
                        </a>
                        {% else %}
                        <a class="button is-primary" href="{% url "django_registration_register" %}">
                            <strong>Registrace</strong>
                        </a>
                        <a class="button is-light" href="{% url "login" %}">
                            Přihlášení
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
