{% load webpack_static from webpack_loader %}
{% load pages cache %}

<nav class="navbar {% if request.path == "/" and not user.is_authenticated %}is-info{% else %}is-light{% endif %}" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a href="/" class="navbar-item">
                {% if request.path == "/" and not user.is_authenticated %}
                    <img src="{% webpack_static "img/brand/logo-round-inverted.svg" %}" alt="KSICHT" height="50" />
                {% else %}
                    <img src="{% webpack_static "img/brand/logo-round.svg" %}" alt="KSICHT" height="50" />
                {% endif %}
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbar" class="navbar-menu">
            <div class="navbar-start">
                {% url "core:home" as home_url %}
                {% url "core:current_grade" as current_grade_url %}
                {% url "core:grade_archive" as grade_archive_url %}
                {% url "core:event_listing" as event_listing_url %}
                {% url "core:people" as people_url %}

                {% if user.is_authenticated %}
                <a class="navbar-item {% if request.get_full_path == home_url %}is-active{% endif %}" href="{{ home_url }}">
                    Nástěnka
                </a>
                {% endif %}
                <a class="navbar-item {% if request.get_full_path == current_grade_url %}is-active{% endif %}" href="{{ current_grade_url }}">
                    Aktuální ročník
                </a>
                <a class="navbar-item {% if request.get_full_path == grade_archive_url %}is-active{% endif %}" href="{{ grade_archive_url }}">
                    Minulé ročníky
                </a>
                <a class="navbar-item {% if request.get_full_path == event_listing_url %}is-active{% endif %}" href="{{ event_listing_url }}">
                    Akce
                </a>
                <a class="navbar-item {% if request.get_full_path == people_url %}is-active{% endif %}" href="{{ people_url }}">
                    Lidé
                </a>

                {% cache 120 sidebar %}
                    {% pages_by_prefix "/info/" as infopages %}
                    {% pages_by_prefix "/navody/" as guides %}

                    {% for infopage in infopages %}
                        <a class="navbar-item {% if request.get_full_path == infopage.url %}is-active{% endif %}" href="{{ infopage.url }}">
                            {{ infopage.title }}
                        </a>
                    {% endfor %}

                    {% if guides|length > 0%}
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">Návody</a>

                            <div class="navbar-dropdown">
                                {% for guide in guides %}
                                {% comment %} Workaround: use dropdown-item instead navbar-item {% endcomment %}
                                {% comment %} @see: https://github.com/jgthms/bulma/issues/3009 {% endcomment %}
                                <a href="{{ guide.url }}" class="dropdown-item {% if request.get_full_path == guide.url %}is-active{% endif %}">
                                    {{ guide.title }}
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endcache%}

            </div>

            <div class="navbar-end">
                {% if user.is_authenticated %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        <span class="icon"><i class="fas fa-user"></i></span>
                        <span class="is-size-6 has-padding-l-3 has-text-weight-bold">{{ user.get_full_name }}</span>
                    </a>
                    <div class="navbar-dropdown is-right">
                        <div class="dropdown-item">
                            <p>{{ user.get_full_name }}</p>
                            <p class="has-text-grey">{{ user.email }}</p>
                        </div>
                        <hr class="dropdown-divider">
                        <a href="{% url "edit_profile" %}" class="dropdown-item">Můj profil</a>
                        <a href="{% url "password_change" %}" class="dropdown-item">Změnit heslo</a>
                        {% if user.is_staff %}
                            <hr class="dropdown-divider">
                            <a href="{% url "admin:index" %}" class="dropdown-item">Vstup do administrace</a>
                        {% endif %}
                        <hr class="dropdown-divider">
                        <div class="dropdown-item">
                            <a class="button is-danger is-small is-fullwidth" href="{% url "logout" %}">
                                <strong>Odhlásit se</strong>
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="navbar-item">
                    <div class="buttons">
                        {% if user.is_authenticated %}

                        {% else %}
                        <a class="button is-primary" href="{% url "django_registration_register" %}">
                            <strong>Registrace</strong>
                        </a>
                        <a class="button is-light" href="{% url "login" %}">
                            Přihlášení
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
