{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load webpack_static from webpack_loader %}

{% block headline %}{% block page_title %}Přihlášení{% endblock %}{% endblock %}

{% block body %}
<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <div class="box">
          <img src="{% webpack_static "img/brand/logo-round.svg" %}" alt="KSICHT" width="50" />
          <p class="subtitle">Přihlašte se do KSICHTu</p><br>
          {% crispy form %}
        </div>
        <p class="has-text-grey">
          <a href="{% url "django_registration_register" %}">Registrace</a> &nbsp;·&nbsp;
          <a href="../">Zapomenuté heslo</a> &nbsp;·&nbsp;
          <a href="{% url "home" %}">Úvod</a>
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}

