# Ignore everything
**

# Allow files and directories
!assets/**
!docker
!ksicht/**
!fonts/**
!requirements.txt
!package.json
!package-lock.json
!browserlists
!.babelrc
!webpack.config.js


# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
assets/bundles/**/*

**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
