# Ignore everything
**

# Allow files and directories
!assets/**
!docker
!ksicht/**
!fonts/**
!fixtures/**
!requirements.txt
!package.json
!package-lock.json
!browserlists
!.babelrc
!webpack.config.js
!webpack-stats.json

**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
