psycopg2-binary
Django<3.0
dsnparse
django-crispy-forms
django-webpack-loader
django-markdownx<3.0
django-markdown-deux
# Fix for https://stackoverflow.com/questions/73929564/entrypoints-object-has-no-attribute-get-digital-ocean
importlib-metadata==4.13.0
django-htmlmin
django-capture-tag
django-registration
django-username-email
django-imagekit==4.1.0
django_select2
gunicorn
pydash
pypdf2
pdfrw
reportlab
pillow>8.0
