psycopg2-binary
Django
dsnparse
django-crispy-forms
django-webpack-loader
django-markdownx
django-markdown-deux
django-htmlmin
django-capture-tag
django-registration
django-username-email
gunicorn
pydash
