@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700&display=swap&subset=latin-ext);


@import "~bulmaswatch/flatly/_variables";

$bulmaswatch-import-font: false;
$family-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-monospace: "Inconsolata", "Consolas", "Monaco", monospace;
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

@import "~bulma/bulma";
@import "~bulmaswatch/flatly/_overrides";

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";

@import "./components/breadcrumb";
@import "./components/layout";
@import "./components/navbar";
@import "./components/notifications";
@import "./components/tabs";

@import "./views/home";
@import "./views/dashboard";

@import "./helpers/border-radius";
@import "./helpers/spacing";
