.view-home {
    &-brand-wrapper {
        display: flex;
        flex-direction: column;

        @include from($tablet) {
            flex-direction: row;
            align-items: center;
            max-width: 700px;
            margin: auto;
            text-align: left;
        }
    }

    &-brand {
        max-height: 100px;
        margin-bottom: 1rem;

        @include from($tablet) {
            max-height: 200px;
            margin-right: 2rem;
            margin-bottom: 0;
        }
    }

}
