{% extends "focused.html" %}

{% block headline %}{% block page_title %}Hotovo{% endblock %}{% endblock %}
{% block header_sub %}<p class="subtitle">Registrace byla úspěšná.</p>{% endblock %}

{% block container %}
<p class="notification">Zkontrolujte prosím svoji e-mailovou schránku, kam jsme vám poslali <strong>ověřovací e-mail</strong>. Ten je nutné potvrdit pro dokončení registrace. Doručení registračního emailu může trvat několik minut. Pokud vám nepřišel do schránky, zkontrolujte si prosím složku Spam/Nevyžádané. Pokud registrační mail nenajdete ani tam, kontaktujte organizátory na emailu <a href="mailto:ksicht.org@gmail.com">ksicht.org@gmail.com</a>.</p>
{% endblock %}
