{% extends "page.html" %}
{% load stickers %}

{% block breadcrumb %}
<nav class="breadcrumb" aria-label="breadcrumbs">
    <div class="container">
        <ul>
            <li><a href="/">KSICHT</a></li>
            <li><a href="{% url "core:grade_detail" pk=object.pk %}">Ročník {{ object }}</a></li>
            <li class="is-active"><a href="#" aria-current="page">Automatické přiřazení nálepek</a></li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block headline %}Automatické přiřazení nálepek{% endblock %}
{% block header_sub %}<h3 class="subtitle">pro ročník {{ object }}</h3>{% endblock %}

{% block article %}
    <p class="has-margin-b-4">Systém automaticky vyhodnotil přiřazení následujících nálepek:</p>

    <form action="." method="post">
        {% csrf_token %}

        <div class="table-container">
            <table class="table is-striped is-hoverable">
                <thead>
                    <tr>
                        <th class="is-size-6 has-text-right">Řešitel</th>
                        <th class="is-size-6" style="width: 100%">Nálepky</th>
                    </tr>
                </thead>
                <tbody>
                    {% for application, stickers in eligibility %}
                    <tr>
                        <th class="is-size-5 has-text-right">{{ application.participant.get_full_name }}</th>
                        <td>
                            <div class="tags">
                                {% for s in stickers %}
                                    {% sticker s %}
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <button type="submit" class="button is-primary is-medium">Potvrdit přiřazení</button>
    </form>
{% endblock %}
