{% extends "page.html" %}
{% load crispy_forms_tags %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
{% endblock %}

{% block breadcrumb %}
<nav class="breadcrumb" aria-label="breadcrumbs">
    <div class="container">
        <ul>
            <li><a href="/">KSICHT</a></li>
            <li><a href="{% url "core:grade_detail" pk=task.series.grade_id %}">Ročník {{ task.series.grade }}</a></li>
            <li><a href="{% url "core:series_detail" grade_id=task.series.grade_id pk=task.series_id %}">{{ task.series }}</a></li>
            <li class="is-active"><a href="#" aria-current="page">Bodování úlohy {{ task }}</a></li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block headline %}Bodování úlohy „{{ task }}“{% endblock %}
{% block header_sub %}<h3 class="subtitle">ze {{ task.series }} ročníku {{ task.series.grade }}</h3>{% endblock %}

{% block article %}
    {% if form.forms|length > 0 %}
        <form method="post" action=".">
            {% csrf_token %}
            {{ form.management_form }}

            <div class="columns">
                <div class="column is-12-mobile">
                    <div class="table-container">
                        <table class="table is-fullwidth is-striped is-hoverable">
                            <thead>
                                <tr>
                                    <th class="is-size-6 has-text-right" style="min-width: 200px;">Řešitel</th>
                                    <th class="is-size-6" style="min-width: 100px;">Skóre</th>
                                    <th class="is-size-6" style="width: 100%">Nálepky</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for f in form.forms %}
                                <tr>
                                    <th class="is-size-5 has-text-right">{{ f.application }}{{ f.id }}</th>
                                    <td>
                                        <div class="field">
                                            <div class="control">
                                                {{ f.score|as_crispy_field }}
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="field">
                                            <div class="control">
                                                {{ f.stickers }}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <button type="submit" class="button is-primary is-medium">Uložit</button>
                </div>
            </div>

        </form>
    {% else %}
        <article class="message is-warning is-size-5">
            <div class="message-body">
                <p>Pro tuto sérii nikdo žádné řešení <strong>neodevzdal</strong>, takže bohužel není co bodovat.</p>
            </div>
        </article>
    {% endif %}
{% endblock %}

{% block after_body %}
{{ form.media.css }}
{{ form.media.js }}
{% endblock %}
