{% extends "page.html" %}

{% block breadcrumb %}
<nav class="breadcrumb" aria-label="breadcrumbs">
    <div class="container">
        <ul>
            <li><a href="/">KSICHT</a></li>
            <li><a href="{% url "core:grade_detail" pk=object.grade_id %}">Ročník {{ object.grade }}</a></li>
            <li class="is-active"><a href="#" aria-current="page">{{ object }}</a></li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block headline %}{{ object }}{% endblock %}
{% block header_sub %}<h3 class="subtitle">ročníku {{ object.grade }}</h3>{% endblock %}

{% block article %}
    <nav class="columns is-mobile is-multiline">
        <div class="column is-12-mobile is-4-tablet">
            <div>
                <p class="heading">Deadline pro odevzdání řešení</p>
                <p class="title is-5"><i class="far fa-calendar-alt has-padding-r-2"></i> {{ object.submission_deadline|date:"DATETIME_FORMAT" }}</p>
            </div>
        </div>
        <div class="column is-12-mobile is-4-tablet">
            <div>
                <p class="heading">Zadání</p>
                <p class="title is-5">
                    {% if object.task_file %}
                        <a href="{{ object.task_file.url }}" class="has-margin-r-4"><i class="far fa-file-pdf has-padding-r-2"></i> Brožura zadání v PDF</a>
                    {% else %}
                        <span>Zatím nebylo nahráno</span>
                    {% endif %}
                </p>
            </div>
        </div>
        {% if perms.core.change_solution_submission_presence or object.results_published %}
            <div class="column is-12-mobile is-4-tablet">
                <div>
                    <p class="heading">Přehledy</p>
                    {% if perms.core.change_solution_submission_presence %}
                    <p class="is-5">
                        <a href="{% url "core:series_submission_overview" grade_id=object.grade.id series_id=object.id %}" class="has-margin-r-4"><i class="fas fa-user-friends has-padding-r-2"></i> Přehled odevzdaných řešení</a>
                    </p>
                    {% endif %}
                    <p class="is-5">
                        <a href="{% url "core:series_sticker_assignment_overview" grade_id=object.grade_id pk=object.pk %}" class="has-margin-r-4"><i class="fas fa-sticky-note has-padding-r-2"></i> Přehled přiřazených nálepek</a>
                    </p>
                    {% if object.results_published %}
                    <p class="is-5">
                        <a href="{% url "core:series_results" grade_id=object.grade_id pk=object.pk %}" class="has-margin-r-4"><i class="fas fa-trophy has-padding-r-2"></i> Výsledková listina</a>
                    </p>
                    {% endif %}
                    {% if perms.core.series_task_envelopes_printout %}
                    <p class="is-5">
                        <a href="{% url "core:series_task_envelopes_printout" grade_id=object.grade_id pk=object.pk %}" class="has-margin-r-4"><i class="fas fa-envelope has-padding-r-2"></i> Tisk obálek se zadáním pro školy</a>
                    </p>
                    {% endif %}
                    {% if perms.core.series_solution_envelopes_printout %}
                    <p class="is-5">
                        <a href="{% url "core:series_solution_envelopes_printout" grade_id=object.grade_id pk=object.pk %}" class="has-margin-r-4"><i class="fas fa-envelope has-padding-r-2"></i> Tisk obálek pro řešitele</a>
                    </p>
                    {% endif %}
                </div>
            </div>

        {% endif %}
    </nav>

    {% with object.tasks_with_submission_count as tasks %}
        {% if tasks|length > 0 %}
            <section class="columns is-desktop has-margin-t-6">
                {% for task in tasks %}
                    <div class="column is-one-fifth">
                        {% include "core/includes/admin_task_card.html" with object=task %}
                    </div>
                {% endfor %}
            </section>
        {% else %}
            <article class="message is-warning is-size-5 has-margin-t-6">
                <div class="message-body">
                    <p>Žádné úlohy nebyly prozatím vypsány.</p>
                </div>
            </article>
        {% endif %}
    {% endwith %}
{% endblock %}
