{% extends "page.html" %}
{% load stickers %}

{% block breadcrumb %}
<nav class="breadcrumb" aria-label="breadcrumbs">
    <div class="container">
        <ul>
            <li><a href="/">KSICHT</a></li>
            <li><a href="{% url "core:grade_detail" pk=object.grade_id %}">Ročník {{ object.grade }}</a></li>
            <li><a href="{% url "core:series_detail" grade_id=object.grade_id pk=object.id %}">{{ object }}</a></li>
            <li class="is-active"><a href="#" aria-current="page">Přehled přiřazených nálepek</a></li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block headline %}Přehled přiřazených nálepek{% endblock %}
{% block header_sub %}<h3 class="subtitle">pro ročník {{ object.grade }}</h3>{% endblock %}

{% block article %}
    <div class="table-container">
        <table class="table is-fullwidth sticker-table">
            <tbody>
                {% for application, stickers in results.items %}
                <tr>
                    <td class="is-size-5 has-text-right has-text-weight-bold">{{ application.participant.get_full_name }}</td>
                    <td>
                        <div class="tag-list">
                            {% for s in stickers %}
                                {% sticker s %}
                            {% endfor %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
