{% extends "page.html" %}
{% load stickers %}

{% block breadcrumb %}
<nav class="breadcrumb" aria-label="breadcrumbs">
    <div class="container">
        <ul>
            <li><a href="/">KSICHT</a></li>
            <li><a href="{% url "core:grade_detail" pk=grade.pk %}">Ročník {{ grade }}</a></li>
            <li class="is-active"><a href="#" aria-current="page">Přehled přiřazených nálepek</a></li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block headline %}Přehled přiřazených nálepek{% endblock %}
{% block header_sub %}<h3 class="subtitle">pro ročník {{ grade }}</h3>{% endblock %}

{% block article %}
    <table class="table is-fullwidth is-striped is-hoverable is-bordered">
        <thead>
            <tr>
                <th class="is-size-6 has-text-right">Řešitel</th>
                <th class="is-size-6">Nálepky</th>
            </tr>
        </thead>
        <tbody>
            {% for application, stickers in results.items %}
            <tr>
                <th class="is-size-5 has-text-right">{{ application.participant.get_full_name }}</th>
                <td>
                    <div class="tag-list">
                        {% for s in stickers %}
                            {% sticker s %}
                        {% endfor %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
