{% extends "page.html" %}

{% block breadcrumb %}
<nav class="breadcrumb" aria-label="breadcrumbs">
    <div class="container">
        <ul>
            <li><a href="/">KSICHT</a></li>
            <li><a href="{% url "core:grade_detail" pk=grade.pk %}">Ročník {{ grade }}</a></li>
            <li><a href="{% url "core:series_detail" grade_id=grade.pk pk=series.pk %}">{{ series }}</a></li>
            <li class="is-active"><a href="#" aria-current="page">Přehled odevzdaných řešení</a></li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block headline %}Přehled odevzdaných řešení{% endblock %}
{% block header_sub %}<h3 class="subtitle">{{ series}} ročníku {{ grade }}</h3>{% endblock %}

{% block article %}
    <form method="post" action=".">
        {% csrf_token %}
        {{ form.management_form }}

        <div class="columns">
            <div class="column is-12-mobile is-8-desktop">
                <div class="table-container">
                    <table class="table is-striped is-hoverable is-fullwidth is-bordered is-narrow">
                        <thead>
                            <tr>
                                <th rowspan="2" class="is-size-6 has-text-right" style="width: 100%">Řešitel</th>
                                <th colspan="5" class="is-size-6 has-text-centered">Úloha</th>
                                <th rowspan="2" class="is-size-6" style="max-width: 200px">Akce</th>
                            </tr>
                            <tr>
                                <th style="width: 40px" class="has-text-centered">1.</th>
                                <th style="width: 40px" class="has-text-centered">2.</th>
                                <th style="width: 40px" class="has-text-centered">3.</th>
                                <th style="width: 40px" class="has-text-centered">4.</th>
                                <th style="width: 40px" class="has-text-centered">5.</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for f in form.forms %}
                            <tr>
                                <th class="is-size-6 has-text-right">{{ f.participant_obj.get_full_name }}</th>
                                {% for field in f %}
                                    {% if not field.is_hidden %}
                                        <td class="has-text-centered">{{ field }}</td>
                                    {% endif %}
                                {% endfor %}
                                <td>
                                    {{ f.participant }}
                                    <a class="button is-small is-outlined mark-all-button">Označit vše</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <button type="submit" class="button is-primary is-medium">Uložit</button>
    </form>
{% endblock %}

{% block after_body %}
<script>
var markAllButtons = document.querySelectorAll(".mark-all-button");

markAllButtons.forEach(function (btn) {
    btn.addEventListener("click", function () {
        var checkboxes = this.parentElement.parentElement.querySelectorAll("input[type=checkbox]:not(:disabled)");

        checkboxes.forEach(function (cb) {
            if (!cb.checked) {
                cb.checked = ! cb.checked;
            }
        })
    });
})
</script>
{% endblock %}
