{% load render_bundle webpack_static from webpack_loader %}
{% load capture_tags %}
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>{% capture as meta_title %}{% block page_title_full %}{% block page_title %}{% endblock %} | {{ siteinfo.name }}{% endblock %}{% endcapture %}</title>
    <meta name="author" content="">
    <meta name="description" content="{% capture as meta_description %}{% block page_description %}{{ siteinfo.description }}{% endblock %}{% endcapture %}">
    <meta name="keywords" content="{% capture as meta_keywords %}{% block page_keywords %}{% endblock %} {{ siteinfo.keywords | join:' ' }}{% endcapture %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="robots" content="index,follow">

    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ meta_title }}">
    <meta property="og:description" content="{{ meta_description }}">
    <meta property="og:image" content="">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% webpack_static "img/favicons/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% webpack_static "img/favicons/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% webpack_static "img/favicons/favicon-16x16.png" %}">
    <link rel="manifest" href="{% webpack_static "img/favicons/site.webmanifest" %}">
    <link rel="mask-icon" href="{% webpack_static "img/favicons/safari-pinned-tab.svg" %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">

    <!-- preload-->
    {% comment %} <link rel="preload" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&subset=latin-ext" as="style"> {% endcomment %}

    {% render_bundle 'main' 'css' %}
</head>
<body class="layout {% block body_class %}{% endblock %}">
    {% block body %}
        {% block navbar %}
            {% include "includes/navbar.html" %}
        {% endblock %}

        {% if messages %}
            {% for message in messages %}
                <div class="notification has-border-radius-0 {% if message.tags %}{{ message.tags }}{% endif %}">
                    <div class="container">
                        <div class="columns is-vcentered">
                            <div class="column is-size-5">{{ message|safe }}</div>
                            <div class="column notification-delete"><button class="delete"></button></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {% block main %}
        <main role="main" class="layout-main">
            {% block content %}{% endblock %}
        </main>
        {% endblock %}

        {% include "includes/footer.html" %}
    {% endblock %}

    {% render_bundle 'main' 'js' %}

    {% block after_body %}{% endblock %}
</body>
</html>
