{% extends "base.html" %}

{% block wrapper_classes %}page{% endblock %}

{% block content %}
    <header class="hero">
        <div class="hero-body">
            {% block header %}
                {% block before_headline %}{% endblock %}
                <h1 class="title">{% block headline %}{% endblock %}</h1>
            {% endblock %}
            {% block header_sub %}{% endblock %}
        </div>
    </header>

    <div class="page-content {% block content_wrapper_classes %}{% endblock %}">
        <article class="page-article {% block article_classes %}section{% endblock %}">
            {% block article %}{% endblock %}
        </article>

        {% block after_article %}{% endblock %}
    </div>
{% endblock %}
