@use "bulma/sass/utilities/mixins";

.columns.is-reversed {
    display: flex;
    flex-direction: column-reverse;
}

.columns.is-reversed-mobile {
    @include mixins.mobile {
        display: flex;
        flex-direction: column-reverse;
    }
}
