{% extends "page.html" %}
{% load webpack_static from webpack_loader %}
{% load crispy_forms_tags %}

{% block headline %}Aktuální ročník{% if object %} ({{ object }}){% endif %}{% endblock %}

{% block article %}
{% if object %}
    <nav class="columns is-mobile is-multiline">
        <div class="column is-6-mobile is-3-tablet">
            <div>
                <p class="heading">Začíná</p>
                <p class="title is-5"><i class="far fa-calendar-alt has-padding-r-xs"></i> {{ object.start_date | date }}</p>
            </div>
        </div>
        <div class="column is-6-mobile is-3-tablet">
            <div>
                <p class="heading">Končí</p>
                <p class="title is-5"><i class="far fa-calendar-alt has-padding-r-xs"></i> {{ object.end_date | date }}</p>
            </div>
        </div>
        {% if can_apply %}
        <div class="column is-12-mobile is-6-tablet">
            <div>
                <p class="heading">Přihláška</p>
                {% crispy application_form %}
            </div>
        </div>
        {% endif %}
    </nav>

    <p class="is-size-5 has-margin-b-lg">Každým rokem vyjdou čtyři série KSICHTu. V brožuře vždy naleznete zadání úloh aktuální série, řešení úloh předchozí série a jeden díl seriálu.</p>

    <div class="columns is-desktop">
        {% with object.get_current_series as current_series %}
            {% for series in object.series.all %}
                <div class="column is-one-fourth">
                    <div class="card">
                        <div class="card-content">
                            <h2 class="title is-6 is-uppercase has-text-weight-bold">{{ series }}</h2>
                            <p class="subtitle is-6 has-text-grey">odevzdání do {{ series.submission_deadline | date:"SHORT_DATETIME_FORMAT" }}</p>

                            {% with series.tasks.all as tasks %}
                                {% if tasks.count > 0 %}
                                <h2 class="is-size-6 has-text-weight-bold">Úlohy</h2>
                                <ul>
                                    {% for task in tasks %}
                                        <li>{{ task.title }} <span class="has-text-grey">(max. {{ task.points }} bodů)</span></li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            {% endwith %}

                            <hr>

                            {% if series.task_file %}
                            <p><a href="{{ series.task_file.url }}" class="has-margin-r-md"><i class="far fa-file-pdf has-padding-r-xs"></i> Sešit zadáním v PDF</a></p>
                            {% endif %}

                            {% if series.has_results_published %}
                            <p><a href="" class="has-margin-r-md"><i class="fas fa-trophy has-padding-r-xs"></i> Výsledková listina</a></p>
                            {% endif %}
                        </div>
                        {% if series.accepts_solution_submissions and series == current_series and is_grade_participant %}
                        <footer class="card-footer">
                            <p class="card-footer-item">
                                <a href="">Odevzdat řešení</a>
                            </p>
                        </footer>
                        {% endif%}
                    </div>
                </div>
            {% endfor %}
        {% endwith %}
    </div>
{% else %}
    <p class="notification">Momentálně není žádný ročník KSICHTu vypsán.</p>
{% endif %}
{% endblock %}
