{% extends "page.html" %}
{% load webpack_static from webpack_loader %}
{% load crispy_forms_tags %}
{% load markdown_deux_tags %}

{% block breadcrumb %}
<nav class="breadcrumb" aria-label="breadcrumbs">
    <div class="container">
        <ul>
            <li><a href="/">KSICHT</a></li>
            <li class="is-active"><a href="#" aria-current="page">{% block headline %}Aktuální ročník{% if object %} ({{ object }}){% endif %}{% endblock %}</a></li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block header_sub %}
    {% if can_apply %}
        <div class="notification">
            <p class="title is-4">Do tohoto ročníku se ještě můžeš přihlásit!</p>
            <p class="is-size-6 mb-4">Před přihlášením si prosím zkontrolujte správnost údajů na  <a href="{% url 'edit_profile' %}">svém profilu</a>.</p>
            {% crispy application_form %}
        </div>
    {% endif %}
{% endblock %}

{% block article %}
{% if object %}
    <p class="is-size-5 mb-5">Každým rokem vyjdou čtyři série KSICHTu, <strong>první začátkem října</strong>. V brožuře vždy naleznete zadání úloh aktuální série, řešení úloh předchozí série a jeden díl seriálu.</p>

    <nav class="columns is-multiline mb-5">
        <div class="column is-6-tablet is-3-desktop">
            <div>
                <h2 class="subsubtitle">Začíná</h2>
                <p class="title is-5"><i class="fas fa-calendar-alt pr-1"></i> {{ object.start_date | date }}</p>
            </div>
        </div>
        <div class="column is-6-tablet is-3-desktop">
            <div>
                <h2 class="subsubtitle">Řešitelé</h2>
                <p class="title is-5"><i class="fas fa-user-friends pr-1"></i> {{ object.applications.count }} přihlášených řešitelů</p>
            </div>
        </div>
        {% if object.errata %}
        <div class="column is-6-desktop">
            <h2 class="subsubtitle">Errata</h2>
            <div class="content content-readable">
                <div class="message is-warning is-size-6">
                    <div class="message-body">
                        {{ object.errata | markdown }}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </nav>

    <div class="columns is-multiline">
        {% with object.get_current_series as current_series %}
            {% with object.get_future_series as future_series %}
                {% for series in object.prefetch_series %}
                    <div class="column is-12-mobile is-6-tablet is-3-desktop">
                        {% comment %}Highlight current series only when the task file is already available as per Jan Hrubeš's request.{% endcomment %}
                        <div class="card series-card {% if series == current_series and series.task_file %}is-current{% endif %}">
                            <div class="card-content">
                                <h2 class="is-6 is-uppercase has-text-weight-bold">{{ series }}</h2>
                                <div class="{% if series not in future_series %}subtitle{% endif %} is-6 has-text-grey">odevzdání do {{ series.submission_deadline | date:"d.m." }}</div>

                                {% if series in future_series %}
                                    <p class="subtitle is-7 has-text-grey">datum je pouze orientační</p>
                                {% endif %}

                                {% with series.tasks.all as tasks %}
                                    {% if tasks.count > 0 %}
                                    <h2 class="is-size-6 has-text-weight-bold">Úlohy</h2>
                                    <ul>
                                        {% for task in tasks %}
                                            <li>{{ task.nr }}. {{ task.title }} <span class="has-text-grey">(max. {{ task.points }} bodů)</span></li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                {% endwith %}

                                {% if series.task_file or series.results_published %}
                                <hr class="card-splitter">
                                {% endif %}

                                {% if series.task_file %}
                                <p><a href="{{ series.task_file.url }}" class="mr-4"><i class="fas fa-file-pdf pr-1"></i> Brožura zadání v PDF</a></p>
                                {% endif %}

                                {% if series.results_published %}
                                <p><a href="{% url "core:series_results" grade_id=series.grade_id pk=series.pk %}" class="mr-4"><i class="fas fa-trophy pr-1"></i> Výsledková listina</a></p>
                                {% endif %}

                                {% with series.attachments.all as attachments %}
                                    {% if attachments %}
                                        <hr class="card-splitter">

                                        <h2 class="is-size-6 has-text-weight-bold">Přílohy</h2>

                                        {% for a in attachments %}
                                            <p><a href="{{ a.file.url }}" class="mr-4"><i class="fas fa-file pr-1"></i> {{ a }}</a></p>
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                            </div>

                            {% if series.accepts_solution_submissions and series == current_series and is_grade_participant %}
                                <footer class="card-footer">
                                    <p class="card-footer-item">
                                        <a href="{% url "core:solution_submit" %}">Odevzdat řešení</a>
                                    </p>
                                </footer>
                            {% endif%}
                        </div>
                    </div>
                {% endfor %}
            {% endwith %}
        {% endwith %}
    </div>
{% else %}
    <article class="message is-warning is-size-5">
        <div class="message-body">
            <p>Momentálně není žádný ročník KSICHTu vypsán.</p>
        </div>
    </article>
{% endif %}
{% endblock %}
