{% extends "page.html" %}
{% load webpack_static from webpack_loader %}

{% block headline %}Nástěnka{% endblock %}

{% block article %}

<div class="columns dashboard-menu is-8 is-variable">
    {% if is_current_grade_participant %}
        <div class="column">
            <aside class="menu">
                <p class="menu-label">Aktuální ročník {{ current_grade }}</p>
                <ul class="menu-list">
                    <li><a href="{% url "core:current_grade" %}">Detailní informace</a></li>
                    {% if current_series.accepts_solution_submissions %}
                    <li><a href="{% url "core:solution_submit" %}">Odevzdání řešení</a></li>
                    {% endif %}
                </ul>
            </aside>
        </div>
    {% endif %}
    <div class="column">
        <aside class="menu">
            {% for grade in grades %}
            <p class="menu-label">{{ grade }}</p>
            <ul class="menu-list">
                <li>
                    <span>Bodování</span>
                    <ul>
                        <li><a href="{% url "core:submission_overview" grade_id=grade.id %}">Označení odevzdaných úloh</a></li>
                    </ul>
                </li>
            </ul>
            {% endfor %}
        </aside>
    </div>
    <div class="column">
        <aside class="menu">
            <p class="menu-label">Administrace</p>
            <ul class="menu-list">
                <li><a href="{% url "admin:index" %}">Vstup do administrační části</a></li>
            </ul>
        </aside>
    </div>
</div>


{% endblock %}
