{% extends "page.html" %}
{% load webpack_static from webpack_loader %}

{% block headline %}Akce{% endblock %}

{% block article %}
{% if year_list %}
    {% for year, events in year_list %}
        <h2 class="title is-5">{{ year }}</h2>
        <div class="columns is-desktop has-padding-b-5">
            {% for event in events %}
                <div class="column is-one-quarter">
                    <div class="card">
                        <div class="card-content">
                            <h2 class="title is-5 has-text-weight-bold">{{ event }}</h2>
                            <p class="subtitle is-6 has-text-grey">{{ event.start_date|date:"SHORT_DATE_FORMAT" }} - {{ event.end_date|date:"SHORT_DATE_FORMAT" }}, {{ event.place }}</p>
                            <p class="is-6 has-text-grey"><i class="far fa-user-circle has-padding-r-2"></i> {{ event.attendees.count }} účastníků</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% else %}
    <article class="message is-warning is-size-5">
        <div class="message-body">
            <p>Žádné akce zatím neproběhly.</p>
        </div>
    </article>
{% endif %}
{% endblock %}
