{% extends "page.html" %}
{% load markdown_deux_tags %}

{% block breadcrumb %}
<nav class="breadcrumb" aria-label="breadcrumbs">
    <div class="container">
        <ul>
            <li><a href="/">KSICHT</a></li>
            <li><a href="{% url "core:event_listing" %}">Akce</a></li>
            <li><a href="{{ object.get_absolute_url }}" aria-current="page">{{ object }}</a></li>
            <li class="is-active"><a href="#" aria-current="page">Přihláška</a></li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block headline %}{{ object }} - přihláška{% endblock %}

{% block article %}

{% if has_enlisted %}
<div class="content content-readable">
    <div class="message is-success is-size-5">
        <div class="message-body">
            <strong class="is-size-4">Přihlášení na akci proběhlo úspěšně.</strong>
            {% if is_substitute %}
            <p><i class="fas fa-exclamation-triangle has-padding-r-2"></i> Základní kapacita byla bohužel již překročena, prosto jsme vás přihlásili jako náhradníka.</p>
            {% endif %}
            {% if object.enlistment_message %}
            <p class="has-margin-t-5">{{ object.enlistment_message|markdown }}</p>
            {% endif %}
        </div>
    </div>
</div>
{% else %}
    <form action="." method="post">
        {% csrf_token %}

        <div class="columns is-reversed-mobile">
            <div class="column is-8-tablet is-6-widescreen">
                <p class="is-size-4 has-margin-b-4">
                    <strong>Skutečně se chcete přihlásit na tuto akci?</strong>
                </p>

                <div class="content content-readable">
                    <div class="message is-warning is-size-5">
                        <div class="message-body">
                            <p>
                                Přihlášení na akci je <strong>závazné</strong>. KSICHT si vyhrazuje právo akci <strong>změnit, upravit termín, nebo akci zcela zrušit</strong>.
                            </p>
                            {% if free_places == 0 %}
                                <p>Vyhrazená kapacita je již naplněna, <strong>přihlásite se pouze jako náhradník</strong>.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-4-tablet is-offset-1-widescreen">
                <div class="has-margin-b-4">
                    <p class="heading">Začátek</p>
                    <p class="title is-5"><i class="far fa-calendar-alt has-padding-r-2"></i> {{ object.start_date | date }}</p>
                </div>
                <div class="has-margin-b-4">
                    <p class="heading">Konec</p>
                    <p class="title is-5"><i class="far fa-calendar-alt has-padding-r-2"></i> {{ object.end_date | date }}</p>
                </div>
                <div class="has-margin-b-4">
                    <p class="heading">Místo konání</p>
                    <p class="title is-5"><i class="fas fa-map-marker-alt has-padding-r-2"></i> {{ object.place }}</p>
                </div>
                <div class="has-margin-b-4">
                    <p class="heading">Volná místa</p>
                    <p class="title is-5">{{ free_places }}/{{ object.capacity }}</p>
                </div>
            </div>
        </div>

        <div class="has-margin-t-5">
            <button type="submit" class="button is-primary is-medium">Ano, chci se přihlásit</button>
        </div>
    </form>
{% endif %}
{% endblock %}
