{% extends "page.html" %}

{% block breadcrumb %}
<nav class="breadcrumb" aria-label="breadcrumbs">
    <div class="container">
        <ul>
            <li><a href="/">KSICHT</a></li>
            <li class="is-active"><a href="#" aria-current="page">Akce</a></li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block headline %}Akce{% endblock %}

{% block article %}
{% if year_list %}
    {% for year, events in year_list %}
        <h2 class="title is-5">{{ year }}</h2>
        <div class="columns is-desktop has-padding-b-5">
            {% for event, is_enlisted, can_enlist in events %}
                <div class="column is-one-quarter">
                    {% include "core/includes/event_card.html" with object=event can_enlist=can_enlist is_enlisted=is_enlisted %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}

    {% include "includes/pagination.html" %}
{% else %}
    <article class="message is-warning is-size-5">
        <div class="message-body">
            <p>Žádné akce zatím neproběhly.</p>
        </div>
    </article>
{% endif %}
{% endblock %}
