{% extends "page.html" %}
{% load markdown_deux_tags %}

{% block breadcrumb %}
<nav class="breadcrumb" aria-label="breadcrumbs">
    <div class="container">
        <ul>
            <li><a href="/">KSICHT</a></li>
            <li><a href="{% url "core:event_listing" %}">Akce</a></li>
            <li class="is-active"><a href="#" aria-current="page">{{ object }}</a></li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block headline %}{{ object }}{% endblock %}

{% block article %}
<div class="columns is-reversed-mobile">
    <div class="column is-8-tablet is-6-widescreen">
        <article class="content">
            {% if object.description %}
                {{ object.description|markdown }}
            {% else %}
                <p>Podrobnosti nejsou k dispozici.</p>
            {% endif %}
        </article>
    </div>
    <div class="column is-4-tablet is-3-desktop is-offset-1-widescreen">
        <div class="mb-4">
            <p class="subsubtitle">Začátek</p>
            <p class="title is-5"><i class="fas fa-calendar-alt pr-1"></i> {{ object.start_date | date }}</p>
        </div>
        <div class="mb-4">
            <p class="subsubtitle">Konec</p>
            <p class="title is-5"><i class="fas fa-calendar-alt pr-1"></i> {{ object.end_date | date }}</p>
        </div>
        <div class="mb-4">
            <p class="subsubtitle">Místo konání</p>
            <p class="title is-5"><i class="fas fa-map-marker-alt pr-1"></i> {{ object.place }}</p>
        </div>
        {% if object.publish_occupancy %}
        <div class="mb-4">
            <p class="subsubtitle">Volná místa</p>
            <p class="title is-5"><i class="fas fa-chair pr-1"></i> {{ free_places }}/{{ object.capacity }}</p>
        </div>
        {% endif %}
        {% if perms.core.export_event_attendees or object.publish_occupancy %}
        <div class="mb-4">
            <p class="subsubtitle">Účastníci</p>
            {% if perms.core.export_event_attendees %}
                <p class="title is-5"><a href="{{ object.get_export_url }}" title="Exportovat do CSV"><i class="fas fa-file-csv pr-1"></i> {{ object.attendees.count }} přihlášených</a></p>
            {% else %}
                <p class="title is-5"><i class="fas fa-user-friends pr-1"></i> {{ object.attendees.count }} přihlášených</p>
            {% endif %}
        </div>
        {% endif %}

        {% if not user.is_authenticated %}
        <div class="pt-4">
            <p>
                Pokud se chceš akce zúčastnit, <a href="{% url "login" %}?next={{ object.get_absolute_url }}">přihlaš se</a>.
            </p>
        </div>
        {% endif %}
        {% if can_enlist %}
        <div class="pt-4">
            <a href="{{ event.get_enlist_url }}" class="button is-primary is-outlined is-fullwidth">Přihlásit se</a>
        </div>
        {% endif %}
        {% if is_enlisted %}
        <div class="mt-4">
            <p class="is-5 has-text-success has-text-weight-bold"><i class="fas fa-check-circle pr-1"></i> Jste přihlášen/a</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
