{% extends "page.html" %}
{% load webpack_static from webpack_loader %}

{% block breadcrumb %}
<nav class="breadcrumb" aria-label="breadcrumbs">
    <div class="container">
        <ul>
            <li><a href="/">KSICHT</a></li>
            <li class="is-active"><a href="#" aria-current="page">{% block headline %}Minulé ročníky{% endblock %}</a></li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block article %}
{% if object_list %}
    <div class="columns is-desktop">
        {% for grade in object_list %}
            <div class="column is-one-quarter">
                <div class="card">
                    <div class="card-content">
                        <h2 class="title is-5 has-text-weight-bold">Ročník {{ grade }}</h2>
                        <p class="subtitle is-6 has-text-grey"><i class="fas fa-user-friends has-padding-r-2"></i> {{ grade.applications.count }} přihlášených řešitelů</p>

                        <hr class="card-splitter">

                        <div class="columns">
                            <div class="column">
                                <h3 class="is-6 has-text-weight-bold">Brožury</h3>
                                {% for series in grade.series.all %}
                                    {% if series.task_file %}
                                    <p class="is-5">
                                        <a href="{{ series.task_file.url }}" class="has-margin-r-4"><i class="far fa-file-pdf has-padding-r-2"></i> Pro {{ series.get_series_display }} sérii</a>
                                    </p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="column">
                                <h3 class="is-6 has-text-weight-bold">Výsledky</h3>
                                {% for series in grade.series.all %}
                                    {% if series.results_published %}
                                    <p class="is-5">
                                        <a href="{% url "core:series_results" grade_id=series.grade_id pk=series.pk %}" class="has-margin-r-4"><i class="fas fa-trophy has-padding-r-2"></i> Po {{ series.get_series_display }} sérii</a>
                                    </p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% include "includes/pagination.html" %}
{% else %}
    <article class="message is-warning is-size-5">
        <div class="message-body">
            <p>Žádné minulé ročníky zatím neproběhly.</p>
        </div>
    </article>
{% endif %}
{% endblock %}
