{% extends "page.html" %}
{% load markdown_deux_tags %}

{% block breadcrumb %}
<nav class="breadcrumb" aria-label="breadcrumbs">
    <div class="container">
        <ul>
            <li><a href="/">KSICHT</a></li>
            <li class="is-active"><a href="#" aria-current="page">Lidé</a></li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block headline %}Lidé{% endblock %}

{% block article %}
<div class="columns is-multiline">
    {% for person in object_list %}
    <div class="column is-12-mobile is-one-third-tablet is-3-widescreen">
            <div class="card people-card">
                <div class="card-image">
                    <figure class="image is-square">
                        <img src="{{ person.image_thumbnail.url }}" alt="{{ person.name }}">
                    </figure>
                </div>
                <div class="card-content">
                    <h2 class="title is-4">{{ person.name }}</h2>

                    <div class="content">
                        {{ person.bio | markdown }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
