{% extends "page.html" %}
{% load crispy_forms_tags %}
{% load filename %}

{% block headline %}Odeslání řešení{% endblock %}
{% block header_sub%}<h3 class="subtitle">pro {{ current_series.get_series_display }} sérii ročníku {{ current_grade }}</h3>{% endblock %}

{% block article %}
    <div class="columns">
        <div class="column is-6">
            {% for task, form, submission in forms %}
            <h2 class="heading is-size-7">{{ task.title }} úloha</h2>
            {% if form %}
                {% crispy form %}
            {% else %}
                <article class="message is-warning is-size-6">
                    <div class="message-body">
                        <p>Pro tuto úlohu jste již <strong>odevzdal/a</strong> řešení <strong>{{ submission.file|filename }}</strong>.</p>
                        <p>KSICHT umožňuje odeslat řešení <strong>pouze jednou</strong>.</p>
                    </div>
                </article>
            {% endif %}
            {% if not forloop.last %}<hr>{% endif %}
            {% endfor %}
        </div>
        <div class="column is-4 is-offset-1">
            <article class="message">
                <div class="message-header">Poznámky k odeslání řešení</div>
                <div class="message-body content">
                    <p>Každá série obsahuje <strong>5 úloh</strong>. Řešení se odevzdává v samostatných souborech pro každou úlohu. Soubory s řešením odevzdávejte výhradně ve <strong>formátu PDF</strong>. Maximální velikost každého souboru je <strong>
                        omezena na 2 MB
                    </strong>.</p>
                    <p>Z omezení velikost vyplývá, že zdrojem pro PDF soubory musí být elektronický dokument, nikoliv sken papírového řešení!</p>
                    <p>Odeslání řešení pro každou úlohu je <strong>umožněno pouze jednou</strong>, odesílejte tedy pouze <strong>finální verzi řešení</strong>.</p>
                </div>
            </article>
        </div>
    </div>
{% endblock %}
