{% load grades %}
{% load markdown_deux_tags %}

<div class="columns is-variable is-8">
    <div class="column is-8">
        {% if current_grade %}
            {% with current_grade.get_previous_series as previous_series %}
                {% if previous_series %}
                    <h2 class="title is-5"><a href="{% url "core:grade_detail" pk=current_grade.pk %}">Aktuální ročník {{ current_grade }}</a> po uzavření <a href="{{ previous_series.get_absolute_url }}">{{ previous_series.series }}. série</a></h2>
                    {% with previous_series.tasks_with_submission_count as tasks %}
                        {% if tasks|length > 0 %}
                            <section class="columns is-desktop is-multiline is-variable is-3">
                                {% for task in tasks %}
                                    <div class="column is-4">
                                        {% include "core/includes/admin_task_card.html" with object=task %}
                                    </div>
                                {% endfor %}
                            </section>
                        {% else %}
                            <article class="message is-warning is-size-5 mt-6">
                                <div class="message-body">
                                    <p>Žádné úlohy nebyly prozatím vypsány.</p>
                                </div>
                            </article>
                        {% endif %}
                    {% endwith %}
                {% else %}
                    <h2 class="title is-5">Aktuální ročník {{ current_grade }}</h2>
                    <p>Žádná série nebyla ještě dokončena.</p>
                {% endif %}
            {% endwith %}
        {% else %}
            <h2 class="title is-5">Aktuální ročník</h2>
            <p>Další ročník prozatím nebyl vypsán.</p>
        {% endif %}
    </div>


    <div class="column is-4">
        {% if current_grade %}
            {% with current_grade.get_previous_series as previous_series %}
                {% if previous_series %}
                    <h2 class="title is-5">Přehledy a akce pro <a href="{{ previous_series.get_absolute_url }}">{{ previous_series.series }}. sérii</a></h2>
                    <aside class="mb-6">
                        {% include "core/includes/admin_series_actions.html" with object=previous_series %}
                    </aside>
                {% endif %}
            {% endwith %}

            <h2 class="title is-5">Přehledy a akce pro <a href="{% url "core:grade_detail" pk=current_grade.pk %}">aktuální ročník</a></h2>
            <aside class="mb-6">
                {% include "core/includes/admin_grade_actions.html" with object=current_grade %}
            </aside>
        {% endif %}

        <h2 class="title is-5">Další rychlé akce</h2>
        <aside class="menu mb-6">
            <ul class="menu-list">
                <li><a href="{% url "admin:index" %}">Vstup do administrační části</a></li>
                {% if perms.core.add_event %}
                    <li><a href="{% url "admin:core_event_add" %}">Vytvořit novou akci</a></li>
                {% endif %}
                {% if current_series and perms.core.change_gradeseries %}
                    <li><a href="{% url "admin:core_gradeseries_change" object_id=current_series.pk %}">Upravit aktuální sérii</a></li>
                {% endif %}
                {% if current_grade and perms.core.change_grade %}
                    <li><a href="{% url "admin:core_grade_change" object_id=current_grade.pk %}">Upravit aktuální ročník</a></li>
                {% endif %}
            </ul>
        </aside>

        {% if perms.core.view_grade %}
        <h2 class="title is-5">Ročníky</h2>
            <aside class="menu">
                {% grade_list 5 as grades %}

                {% for grade in grades %}
                <ul class="menu-list">
                    <li><a href="{% url "core:grade_detail" pk=grade.pk %}">{{ grade }}</a></li>
                </ul>
                {% endfor %}
            </aside>
        {% endif %}
    </div>
</div>
