<div class="field">
  <div class="file is-link">
    <label class="file-label">
      <input type="file" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
      <span class="file-cta">
        <span class="file-icon">
          <i class="fas fa-upload"></i>
        </span>
        <span class="file-label">
          {{ widget.attrs.field_label }}
        </span>
      </span>
      <span class="file-name is-hidden">
          ...
      </span>
    </label>
  </div>
</div>
