<div class="card">
    <div class="card-content">
        <h2 class="title is-5">{{ object.nr }}. úloha</h2>
        <h3 class="heading has-padding-b-3">Název</h3>
        <p class="title is-6">{{ object.title }}</p>
        <h3 class="heading has-padding-b-3">Řešitelé</h3>
        <p class="title is-6"><i class="fas fa-user-friends has-padding-r-2"></i> {{ object.submission_count }} odevzdaných řešení</p>

        {% if object.submission_count > 0 %}
            <ul>
            {% if perms.core.scoring %}
                <li><a href="{% url "core:task_scoring" grade_id=object.series.grade_id task_id=object.pk %}">Bodování</a></li>
            {% endif %}
            {% if perms.core.solution_export %}
                <li><a href="{% url "core:task_solution_export" grade_id=object.series.grade_id task_id=object.pk %}">Export do PDF</a></li>
                <li><a href="{% url "core:task_solution_export" grade_id=object.series.grade_id task_id=object.pk %}?duplex=1">Export do PDF (pro duplex)</a></li>
            {% endif %}
            </ul>
        {% endif %}
    </div>
</div>
