{% if perms.core.change_solution_submission_presence %}
<p class="is-5">
    <a href="{% url "core:series_submission_overview" grade_id=object.grade_id series_id=object.id %}" class="has-margin-r-4"><i class="fas fa-user-friends has-padding-r-2"></i> Přehled odevzdaných řešení</a>
</p>
{% endif %}
<p class="is-5">
    <a href="{% url "core:series_sticker_assignment_overview" grade_id=object.grade_id pk=object.pk %}" class="has-margin-r-4"><i class="fas fa-sticky-note has-padding-r-2"></i> Přehled přiřazených nálepek</a>
</p>
{% if object.results_published %}
<p class="is-5">
    <a href="{% url "core:series_results" grade_id=object.grade_id pk=object.pk %}" class="has-margin-r-4"><i class="fas fa-trophy has-padding-r-2"></i> Výsledková listina</a>
</p>
{% endif %}
{% if perms.core.series_task_envelopes_printout %}
<p class="is-5">
    <a href="{% url "core:series_task_envelopes_printout" grade_id=object.grade_id pk=object.pk %}" class="has-margin-r-4"><i class="fas fa-envelope has-padding-r-2"></i> Tisk obálek se zadáním pro školy</a>
</p>
{% endif %}
{% if perms.core.series_solution_envelopes_printout %}
<p class="is-5">
    <a href="{% url "core:series_active_participants_envelopes_printout" grade_id=object.grade_id pk=object.pk %}" class="has-margin-r-4"><i class="fas fa-envelope has-padding-r-2"></i> Tisk obálek pro řešitele</a>
</p>
{% endif %}
